[Unit]
Description=Configure monitors when docked/undocked on Hyprland

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/bash /home/besik/.dotfiles/.scripts/dock.sh

[Install]
WantedBy=multi-user.target
