@theme "zen"

configuration {
    font: "CodeNewRoman Nerd Font Propo 14";
    show-icons: true;
    drun-display-format: "{name}";
    display-run: "Run";
    display-drun: "Apps";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
