* {
    background: #211F22;
    foreground: #F9F2E7;

    color0: #474548;
    color1: #1B1620;
    color2: #281715;
    color3: #402633;
    color4: #714547;
    color5: #885C52;
    color6: #B3A48C;
    color7: #EEE4D4;
    color8: #A7A095;
    color9: #241D2A;
    color10: #361E1C;
    color11: #563344;
    color12: #975B5F;
    color13: #B67B6D;
    color14: #EEDABB;
    color15: #EEE4D4;
}
